.logo{
    padding: 15px 8px 15px 15px;
    background-color: #1d1e1f;
}

.main_header nav ul.menu{
    margin-top: 15px;
}

.phone {
    margin-top: 15px;    
}

.socials{
    margin-top: 15px;    
}