.slide-right{
  animation-name: slide-right;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.slide-left{
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .slide-up{
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
  }

@keyframes slide-right {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}