#portfolio-filter button{
	transition: 0.3s;
	color: rgba(255,255,255,0.77);
	background-color: #222222;
	border: hidden;
	/* font-weight: 600;
	text-transform: uppercase; */
	margin-left: 5%;
	letter-spacing: 1px;
	font-family: 'Open Sans';
}

#portfolio-filter ul{
	padding: 1% 1%;
	margin-left: 60%;
	font-size: 14px;
	font-weight: 700;
	color: white;
}

#portfolio-filter button:hover{
	transition: 0.3s;
	color: white;
}

#portfolio-filter .active{
	transition: 0.3s;
	color: #28b8d8;
}

.column {
	display: inline-block;
	height: 20%;
	width: 25%;
	padding: 0.1%;
}

.flickr-feed-portfolio-filter{
	display: contents;
}

figure div a .text-overlay{
	background: #28b8d8;
	background: rgba(40,184,216,0.90);
	opacity: 0;
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    padding: 20px;
    background: #28b8d8;
    background: rgba(40,184,216,0.90);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

}

figure div a .text-overlay img{
	width: 20%;
	margin-left: 40%;
}